@charset "utf-8";
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

a,
a:link,
a:visited,
a:hover,
a:active{color: #333; text-decoration: none;}

/*
font-family: 'Inter', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
*/
html{
    font-family: 'Inter', sans-serif;
    font-size:14px;
    font-weight:400;
    color:#333;
}
.kr{
    font-family: 'Noto Sans KR', sans-serif;
}
.contents{margin-left: 320px;}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


/*버튼*/

.btn{
    width: 140px;
    height: 40px;
    text-align: center;
    border: 1px solid #fff;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s;
    box-sizing: border-box;
    color:#fff;
    background:rgba(0,0,0,0);
}
.btn:hover{
    box-shadow: 140px 0 0 0 rgba(255, 255, 255, 1) inset, -140px 0 0 0 rgba(255, 255, 255, 1) inset;
    transition: all 0.3s;
    color: #000;
    box-sizing: border-box;
}

.btn2{
    border:1px solid #4F1421;
    background:#4F1421;
    width: 140px;
    height: 40px;
    text-align: center;
    border: 1px solid #4F1421;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s;
    box-sizing: border-box;
    color:#fff;
}
.btn2:hover{
    color:#4F1421;
    border:1px solid #fff;
    box-shadow: 140px 0 0 0 rgba(255, 255, 255, 1) inset, -140px 0 0 0 rgba(255, 255, 255, 1) inset;
    box-sizing: border-box;

    /*box-shadow:140px 0 0 0 rgb(235, 215, 182, 0.9) inset, -140px 0 0 0 rgb(235, 215, 182, 0.9) inset;*/
}


.btn3{
    background:rgba(0,0,0,0);
    color:#4F1421;
    border:1px solid #4F1421;
    width: 140px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 2px;
    transition: all 0.3s;
    box-sizing: border-box;
}

.btn3:hover{
    color:#fff;
    border:1px solid #4F1421;
    box-shadow: 140px 0 0 0 rgba(79, 20, 33, 1) inset, -140px 0 0 0 rgba(79, 20, 33, 1) inset;
    box-sizing: border-box;
}

/*TOP 버튼*/
.top_btn{
    position: fixed;
    bottom: 5%;
    right: 2%;
    cursor: pointer;
}

/*헤더*/
header>.flex{justify-content: left;}
.mob{
    display:none;
}
.logo{
    margin: 30px 0 40px;
}
.logo,.logo_w{
    text-indent: -9999px;
    width: 196px; height: 66px;
    background: url('../img/logo.png') no-repeat 100%;
}
.logo>a{
    display:block;
    width:100%;
    height:100%;
}
#hamberger{display: none;}
.sub{display: none;}
nav{
    width:320px;
    padding: 10px 0 0 40px;
    box-sizing: border-box;
    position: fixed;
    left: 0;

}
h1{margin-bottom: 50px;}
#gnb,#util{
    line-height: 2.2;
    margin: 0 0 50px 20px;
}

#gnb .sub{padding-left: 30px;}
.search{
    margin-bottom: 50px;
    width: 200px;
    border-bottom: 1px solid #999;
}
.search>input{
    background: transparent;
    border: 0;
}
.search>input:focus{
    outline: none !important; 
    border-color: #d6a8e9; 
    box-shadow: 0 0 10px #d6a8e9;
}
i{color: #999;}
#icons i{margin-right: 10px;}


/*컨테이너*/
#container{
    width:100%;
    padding:100px 320px 0 320px;
    box-sizing: border-box;
}

.title{
    text-align:center;
    font-size:1.5rem;
    font-weight:600;
    margin-bottom:50px;
}



/*푸터*/
.logo_w{
    background: url('../img/logo_w.png') no-repeat;
    margin: 0 auto 10px;
}
footer{
    text-align: center;
    color: #fff;
    width: 100%; height: 225px; 
    background: #4f1421;
    font-size: 0.85rem;
}
footer a,
footer a:link,
footer a:visited,
footer a:hover,
footer a:active{color: #fff;}

footer>ul{padding-top: 23px;}
footer>ul,footer>address>ul{margin: 20px 0;}
footer>ul>li{ padding: 0 30px; border-right: 1px solid #fff;}
footer>ul>li:last-child{border-right: 0;}
footer>address>ul>li{ margin: 20px 10px 0;}
footer p{letter-spacing: 2px;}

@media screen and (min-width:1025px) {
    nav{
        left: 0 !important;
    }
}

@media all and (max-width:1024px){/*타블렛*/
    /*헤더*/
    header>.flex{
        width: 100%;
        padding:0 5%;
        height: 66px;
        justify-content: space-between;
        position:fixed;
        background:rgba(255,255,255,1);
        box-sizing: border-box;
        
    }
    .logo{margin: 0;}
    .pc{
        display:none;
    }
    .mob{
        display:block;
    }
    
    #hamberger{
        display: block;
        line-height: 66px;
        color: #333;
        cursor: pointer;
    }
    header>.flex>div{width: 28px;}
    nav{
        width: 280px; height: 100%;
        padding-bottom: 30px;
        background: rgba(255,255,255,1);
        box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.1);
        transition: all 0.5s;
        left: -280px;
        top:66px;
    }

    /*컨테이너*/
    #container{
        padding:70px 2% 0;
    }

    /*푸터*/
    address>.flex{
        flex-flow:row wrap;
        width: 50%;
        margin:0 auto;
    }
    @media all and (max-width:800px){
        address>.flex{
            width: 63%;
        }
    }


}





@media all and (max-width:600px){/*모바일*/
    address>.flex{
        flex-flow:row wrap;
        width: 80%;
        margin:0 auto;
    }

}