@import url('./common.css');


#util>li:nth-of-type(2){
    font-weight:bold;
}


#order_title{
    font-weight:500;
    margin-bottom:50px;
}
#container ul>li{
    margin-right:3%;
}
#container ul>li:last-of-type{
    margin-right:0;
}
#container ul>li:nth-of-type(1){width:20%; margin-right:5%;}
#container ul>li:nth-of-type(2){width:22.5%;}
#container ul>li:nth-of-type(3){width:10%; text-align:center;}
#container ul>li:nth-of-type(4){width:12.5%; text-align:center;}
#container ul>li:nth-of-type(5){width:20%; text-align:center;}

section{
    margin-bottom:150px;
}
#orders img{
    width:100%;
    transition:all .3s;
}

#orders>ul>li:nth-of-type(2)>h4{
    margin:50px 0 30px;
    color:#999;
}
#orders>ul>li:nth-of-type(2)>h5{
    font-weight:400;
    color:#4F1421;
}

#orders button{
    margin:10px 0;
    width: 140px;
    height: 30px;
    font-size:0.8rem;
}
#orders>ul:first-of-type>li:last-of-type>button.btn4{
    background:#b0b0b0;
    color:#fff;
    border:1px solid #b0b0b0;
    letter-spacing: 2px;
    box-sizing:border-box;
}
button.btn2:hover{
    border:1px solid #4F1421;
}

#orders hr{
    margin:100px 0;
    box-sizing: border-box;
    height:1px;
    width:100%;
    border:0;
    background:#d0d0d0;
}

#order_list>.flex>li{
    width:40px !important;
    margin:0 20px !important;
    text-align:center !important;
}

#order_list>ul>li>a:hover{
    font-weight:bold;
}

@media all and (max-width:1400px){
    #container{
        padding:100px 10% 0 320px;
    }
}
@media all and (max-width:1024px){/*타블렛*/
    .flex{
        flex-flow:row wrap;
    }
    #container ul>li:nth-of-type(1){width:22.5%; margin-right:6.6%;}
    #container ul>li:nth-of-type(2){width:22.5%;}
    #container ul>li:nth-of-type(3){width:10%;}
    #container ul>li:nth-of-type(4){width:12.5%;}
    #container ul>li:nth-of-type(5){width:90%; text-align:right;}
    #orders>ul>li{
        margin-bottom:40px;
    }
    #orders hr{
        margin:60px 0 100px;
    }
}


@media all and (max-width:600px){/*모바일*/
    #container ul>li{
        margin:0;
    }
    #container ul>li:nth-of-type(1){width:25%;}
    #container ul>li:nth-of-type(2){width:30%;}
    #container ul>li:nth-of-type(3){width:17.5%; text-align:center;}
    #container ul>li:nth-of-type(4){width:17.5%; text-align:center;}
    #container ul>li:nth-of-type(5){width:100%; text-align:center;}
    #container ul>li:nth-of-type(5) button{
        width:49%;
        margin:40px 0 20px;
    }
    #order_list>.flex>li{
        width:30px !important;
        margin: 0 10px !important;
    }
}