@charset "utf-8";
@import "clear.css";

html{font-size:14px;}
a{text-decoration:none;}
a:link{color:#333;}
a:visited{color:#333;}
a:hover{color:#333;}
a:active{color:#333;}
.wrap{width: 1200px; margin: 0 auto;}
.flex{
    display:flex;
    flex-flow:row wrap;
    justify-content:space-around;
}
header{height: 200px;}

/*로고*/
#logo{display: block; width: 50px; margin: 40px auto 10px;}
#logo img{width: 50px; height: 50px;}

/*유틸*/
#util{position: relative; height: 30px;}
#util ul{
    width: 370px;
    position: absolute;
    right: 0;
}
#util>.float li{
    float: left;
    margin: 0 25px;
}
#util>.float li:last-child{margin-right: 0;}
#util a{display: block; height: 30px;}

/*GNB*/
#gnb li{
    width: 200px;
    height: 100px; line-height: 100px;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
}
#gnb li a{padding: 15px; position: relative;}
#gnb li a::after{
    content: '';
    display: block;
    width:0;
    background: skyblue;
    position: absolute;
    bottom:-10px;
    left: 50%; transform: translateX(-50%);
    transition: all .3s;
}
#gnb li a:hover{color: skyblue;}
#gnb li a:hover::after{width:120px; height:4px;}


/*비주얼배너*/
#main_slider{margin-bottom: 100px;}

/*콘텐츠 영역1*/
#con1{
    width:100%; height: 500px;
    background: url('../images/brand.png') no-repeat 50%;
    background-position: left center;
    position: relative;
}
.txt_box{
    background: rgba(255,255,255,0.7);
    width: 460px; height: 250px;
    padding: 25px;
    box-sizing: border-box;
    position: absolute;
    top:100px; left: 50%;
}
.txt_box h2{
    font-size: 1.5rem;
    font-weight: 800;
    color: #78b3c5;
}
.txt_box p{line-height: 2.5; margin-top: 30px;}
.txt_box p span{background: #deeff6;}
#con1 img{position: absolute;}
#con1 img:first-of-type{bottom:5px; right: 220px;}
#con1 img:last-of-type{bottom:5px; right: 10px;}

#con1 img:first-of-type:hover,
#con1 img:last-of-type:hover{
    scale: 1.1;
    transition:all .4s;
}
/*Poppular영역*/
#con2{
    margin-top: 100px;
    position: relative;
    height: 400px;
}
#con2>h3{
    font-size: 3rem;
    font-weight: 800;
    color: #78b3c5;
    line-height: 1.3;
}
#con2>p{
    color: #bbb;
    line-height: 2rem;
    margin: 20px 0;
}
#con2>div{
    width: 80px;
    text-align: center;
    color: #78b3c5;
    padding: 10px 0;
    border: 1px solid #78b3c5;
}
#con2 ul{
    position: absolute;
    right: 0; top: 0;
}
#con2>.float li{
    float: left;
    margin-left: 20px;
    width: 210px;
}
#con2>.float li img{width: 210px;}
#con2>.float li img:hover{
    transform: translateY(-30px);
    transition: all .3s;
}
#con2>.float li:last-child{margin-right: 0;}

/*Today Story 영역*/
hgroup{text-align: center;  color: #333; margin-bottom: 50px;}
hgroup h3{font-size: 2.2rem; font-weight: 800;}
hgroup h4{margin-top: 20px; font-size: 1.2rem;}

#con3{height: 900px; position: relative; margin-bottom: 100px;}
#con3>div{padding: 40px 20px;}
#con3>div>h4{
    color: #236680;
    font-size: 1.3rem;
    font-weight: 800;
}
#con3>div>p{
    font-size:0.9rem;
    line-height: 2.5;
    margin-top: 20px;
}

#con3>div:first-of-type{
    border-left: 5px solid #78b3c5;
    position: absolute;
    left: 200px;
    top:225px;
    transform: translateY(-50%);
}
#con3>div:last-of-type{
    text-align: right;
    border-right: 5px solid #78b3c5;
    position: absolute;
    right: 200px;
    top:675px;
    transform: translateY(-50%);
}
#con3::after{
    content: '';
    display: inline-block;
    background-image: url('../images/story_1.png');
    width: 514px; height: 514px;
    position: absolute;
    right: 0;
}
#con3::before{
    content: '';
    display: inline-block;
    background-image: url('../images/story_2.png');
    width: 514px; height: 514px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/*인스타그램영역*/
#con4{margin-bottom: 60px;}
#con4 hgroup a{color: #78b3c5; font-weight: 800;}
#con4 .flex{justify-content:space-between;}
#con4>ul>li{width: 20%; position: relative;}
#con4>ul>li img{
    width: 90%;
    background: rgba(0,0,0,0);
}
#con4>ul>li a{display: none;}

#con4>ul>li:hover img{
  filter: brightness(80%);
  transition:all .4s;
}
#con4>ul>li:hover a{
    display: block;
    color: #fff;
    padding: 10px 25px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-45%,-50%);
}

/*푸터영역*/
footer{
    width: 100%;
    height: 300px;
    background: #deeff6;
    text-align: center;
    padding: 40px 0;
    box-sizing: border-box;
}
footer>ul.flex{
    width: 700px;
    margin: 0 auto;
}
footer>.flex a{
    display: block;
    font-weight: 800;
    margin-bottom: 30px;
}
footer>p{line-height: 2.2;}
footer>ul.flex:last-child{width: 250px;}
footer>ul.flex:last-child li{height: 24px; margin-top: 20px;}

